
@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Regular.woff2') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Medium.woff2') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-SemiBold.woff2') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Bold.woff2') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
